<div class="col-sm-4 col-xs-12">
  <div class="productBox">
    <div class="productImage clearfix">
      <%= link_to potepan_product_path(productbox.id), class: "product-image" do %>
        <%= image_tag(productbox.images.first.attachment(:product)) if productbox.images.present? %>
      <% end %>
    </div>
    <div class="productCaption clearfix">
      <%= link_to potepan_product_path(productbox.id) do %>
        <h5><%= productbox.name %></h5>
        <h3><%= productbox.display_price %></h3>
      <% end %>
    </div>
  </div>
</div>
