<% provide(:title, @taxon.name) %>
<%= render partial: "layouts/light_section", locals: { title: @taxon.permalink } %>

<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <%= render "sidebar", taxonomies: @taxonomies %>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render "filterarea" %>
        <div class="row">
          <%= render partial: "productbox", collection: @products %>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render "slider" %>
